body {
    font-family: Arial, sans-serif;
    background: #c76bae;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: #fff;
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

h2 {
    margin-bottom: 20px;
}

.options label {
    display: block;
    background: #e5ffe9;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
}

#nextBtn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #dc219e;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#nextBtn:hover {
    background: #9d268d;
}
