* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #b9b0ff;
}


nav {
    background: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hero {
    text-align: center;
    background: #dcd4ff;
    padding: 70px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero button {
    margin-top: 15px;
    padding: 12px 25px;
    border: none;
    background: #6348e7;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.products {
    padding: 40px 20px;
    text-align: center;
}

.product-grid {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.buyBtn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #4f39d7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.newsletter {
    margin-top: 50px;
    background: #fff;
    padding: 40px 20px;
    text-align: center;
}

.newsletter input {
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.newsletter button {
    padding: 10px 20px;
    background: #4f39d7;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

#message {
    margin-top: 15px;
    color: green;
}

